doctype html
html(ng-app="taskApp")
    head
        title= title
        link(rel="stylesheet" href="/stylesheets/vendors/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/vendors/jquery-2.1.4.min.js")
        script(src="/javascripts/vendors/angular.min.js")
        script(src="/javascripts/vendors/angular-route.min.js")
        script(src="/javascripts/vendors/moment.min.js")
        script(src="/javascripts/vendors/angular-moment.min.js")
        script(type="text/javascript" src="javascripts/app.js")
        base(href="/")
    body
        nav(class="navbar navbar-default" ng-show="user.username" ng-controller="navCtrl")
            div(class="container")
                div(class="navbar-header")
                    a(class="navbar-brand" href="/") Task Manager
            ul(class="nav navbar-nav navbar-right")
                li
                    a(href="/home") Home
                li
                    a(href="/tasks") Tasks
                li
                    a(href="/notes") Notes
                li
                    a(href="/logout") Logout
        block content
