.jumbotron.text-center
    h2 {{message}}
    #message
        span.error
            |{{ error }}
        span.success
            | {{ success }} {{ time }}
.container-well
    .col-xs-6
        Tasks
    .col-xs-6
        Notes