.jumbotron.text-center
    h2 {{message}}
    #message
        span.error
            |{{ error }}
        span.success
            | {{ success }} {{ time }}
.container-fluid
        //.row
        .col-xs-6
            label(for="tasks") Sort By:
            select#tasks.form-control(ng-init="taskSort = sortOptions[0]" ng-model="taskSort" ng-options="sort.text for sort in sortOptions track by sort.value")
            label(for="filter") Filter:
            input#filter.form-control(ng-model="filter")
        //.row
        //.col-xs-6
            //span.center Tasks
            //span {{ title }}
        table#tasks
            thead
                tr
                    th.center.header(colspan="3") Tasks
                tr
                    th.center Title
                    th.center Frequency
                    th.center Started
            tbody
                tr.task(ng-show="taskStatus !== false")
                    td.center(colspan="3") {{ taskStatus }}
                //tr.task(ng-repeat="task in tasks | orderBy: '{{ taskSort.value }}'" data-id="{{ task._id }}" ng-click="showTask(task, $event)")
                tr.task(ng-repeat="task in tasks | filter: {title: filter} | orderBy: taskOrder" data-id="{{ task._id }}" ng-click="showTask(task, $event)")
                    td.center {{ task.title }}
                    td.center {{ task.frequency }}
                    td.center {{ task.pStart }}

        .col-xs-6(ng-show="selected")
            .row
                .col-xs-12
                h2.center Details
            .row
                .col-xs-2
                    Strong Title:
                .col-xs-8 {{ selected.title }}
            .row
                .col-xs-2
                    Strong Description:
                .col-xs-8 {{ selected.desc }}
            .row
                .col-xs-2
                    Strong Frequency:
                .col-xs-8 {{ selected.frequency }}
            .row
                .col-xs-2
                    Strong Created:
                .col-xs-8 {{ selected.fCreate }}
            .row
                .col-xs-2
                    Strong Updated:
                .col-xs-8 {{ selected.fUpdate }}
            .row
                .col-xs-2
                    Strong Started:
                .col-xs-8 {{ selected.fStart }}
            .row
                .col-xs-2
                    Strong Repetitions:
                .col-xs-8 {{ selected.repetitions }}
            .row
                .col-xs-2
                    Strong Duration:
                .col-xs-8 {{ selected.duration }}
            .row
                .col-xs-2
                    Strong Ended:
                .col-xs-8 {{ selected.fEnd ? 'None' : selected.fEnd }}
            .row
                .col-xs-2
                    Strong Read Only:
                .col-xs-8 {{ selected.read_only }}
            .row
                .col-xs-2
                    Strong Tags:
                .col-xs-8 {{ selected.tags.length == 0 ? 'None' : selected.tags }}
            table
                thead
                    tr
                        th.center.header(colspan="6") Notes for {{ selected.title }}
                    tr
                        th.center Title
                        th.center Text
                        th.center Created
                        th.center Completion
                        th.center Read Only
                        th.center Tags
                tbody
                    tr(ng-show="!selected.Notestatus")
                        td.center(colspan="6") {{ selected.length }}
                    tr.note(ng-show="selected.Notestatus" ng-repeat="note in notes")
                        td.center {{ note.title }}
                        td.center {{ note.text }}
                        td.center(title="{{ note.fCreate }}") {{ note.pCreate }}
                        td.center(title="{{ note.fIteration }}") {{ note.pIteration }}
                        td.center
                            input(type="checkbox" ng-checked="note.read_only" disabled="true")
                        td.center {{ note.tags.length == 0 ? '-' : note.tags }}