.jumbotron.text-center
    h2 {{ message }}
    h3 {{ subtitle }}
    #error_div
form
    fieldset
        legend Enter your login credentials
        div
            label(for="username") Username:
            input#username(type="text" name="username" ng-model="username" required="true")
        div
            label(for="password") Password:
            input#password(type="password" name="password" ng-model="password" required="true")
        div
            button(ng-click="login()") Log In
            a(href="/register") |Register