.jumbotron.text-center
    h2 {{message}}
    #message
        span.error
            | {{ error }}
        span.success
            | {{ success }} {{ time }}

.container-fluid
    form.form-inline(role="form" ng-submit="addNote()")
        fieldset
            legend Add A New Note
            .row.col-xs-12
                .form-group.col-xs-12.col-sm-4.col-md-3
                    //label(for="title") Note Name:
                    input.form-control.inputs(type="text" required="true" ng-model="title" highlight-matched-text=false select-first-match=false placeholder="Note Name")

                .form-group.col-xs-12.col-sm-4.col-md-3
                    //label(for="text") Text:
                    //br
                    textarea#text.form-control.inputs(type="text" ng-model="text" placeholder="Note Text")

                //.form-group.col-xs-12.col-md-2.top-buffer(ng-controller="tagCtrl")
                    label(for="tags") Tags:
                    div#tags(auto-complete url="/tags" model="tags")

                .form-group.col-xs-12.col-sm-1.col-md-1
                    label
                        input.form-control(type="checkbox" ng-model="sticky" title="Sticky note for task: no completion date, will float to top of task. Use for reminders or template for note copying. If using as template, recommended to use read-only to prevent accidental deletion or editing.")
                        | &nbsp&nbsp Sticky

                .form-group.col-xs-12.col-sm-1.col-md-2
                    label
                        input#read_only.form-control(type="checkbox" ng-model="read_only")
                        | &nbsp Read-only
            .row

                .form-group.col-xs-12.col-sm-4.col-md-3
                    //label(for="date") Completion Date:
                    input#date.form-control.inputs(type="text" ng-model="date" placeholder="Completion Date (MM/DD/YYYY)")

                .form-group.col-xs-12.col-sm-4.col-md-2
                    //label(for="tasks") Tasks:
                    select#tasks.form-control.inputs(ng-init="tasks = taskOptions[0]" ng-model="tasks" ng-options="task.text for task in taskOptions track by task.value")


                .form-group.col-xs-6.col-md-2
                    button.form-control Save

    //span(ng-repeat="task in tasks")

table.table-responsive
    thead
        tr
            th.center.header(colspan="8") {{ header }}
        tr
            th.center Title
            th.center Text
            th.center Created
            th.center Completion
            th.center Read Only
            th.center Tags
            th.center Task
            th.center Delete
    tbody
        tr.task(ng-show="status !== false")
            td.center(colspan="8") {{ status }}
        tr.task(ng-repeat="note in notes" data-id="{{ note._id }}")
            td.center {{ note.title }}
            td.center {{ note.text }}
            td.center(title="{{ note.fCreate }}") {{ note.pCreate }}
            td.center(title="{{ note.fIteration }}") {{ note.pIteration }}
            td.center
                input(type="checkbox" ng-model="note.read_only" ng-checked="note.read_only" ng-change="updateReadOnly($index, note._id, note.read_only, note.title)")
            td.center {{ note.tags }}
            td.center {{ note.task_title }}
            td.center
                button(data-id="{{ note._id }}" ng-if="!note.read_only" ng-click="deleteNote($index, note._id, note.title)") X
                span(ng-if="note.read_only") RO