#message
    span.error
        | {{ error }}
    span.success
        | {{ success }} {{ time }}

form(ng-submit="register()")
    fieldset
        legend Register for a&nbsp
            em
                |FREE(!!!)
            | &nbspaccount
        div
            input#username(type="text" name="username" placeholder="Username" ng-model="username" required="true")
        div
            input#password(type="password" name="password" placeholder="Password" ng-model="password" required="true")
        div
            input#password(type="password" name="password" placeholder="Confirm Password" ng-model="password_confirm" required="true")
        div
            input#password(type="email" name="email" placeholder="Email" ng-model="email" required="true")
        div
            input#password(type="email" name="email" placeholder="Confirm Email" ng-model="email_confirm" required="true")
        div
            input#FirstName(type="text" name="first_name" placeholder="First Name" ng-model="firstName")
        div
            input#LastName(type="text" name="last_name" placeholder="Last Name" ng-model="lastName")
        div
            button Register
