.jumbotron.text-center
    h2 {{message}}
    #message
    | {{ error }} {{ success }} {{ time }}

.container-fluid
    form.form-inline(ng-submit="addTask()")
        .row
            .form-group.col-xs-12.col-md-2
                label.sr-only(for="title") Task Name:
                input(placeholder="Task Name" required="true" ng-model="title")
            .form-group.col-xs-12.col-md-2
                label.sr-only(for="desc") Description:
                textarea(placeholder="Description" ng-model="desc")
            .form-group.col-xs-12.col-md-2
                label Frequency:
                    select(ng-model="freq")
                        option Daily
                        option Weekly
                        option Monthly
                        option Quarterly
                        option Semi-Annually
                        option Annually
        .row
            .form-group.col-xs-12.col-md-2
                label Start Date:
                    input(type="date" placeholder="Start Date" ng-model="start")
            .form-group.col-xs-12.col-md-2
                label Repetitions:
                    input(placeholder="Repetitions" type="number" ng-model="reps")
            .form-group.col-xs-12.col-md-2
                label
                    input(type="checkbox" ng-model="read_only")
                    | &nbsp Read-only
            .form-group.col-xs-6.col-md-2
                button Save

//.container-fluid
//    .row
//        | {{ header }}
//    .row(ng-repeat="task in tasks")
//        span.title {{ task.title }}
//
