.jumbotron.text-center
    h2 {{message}}
    #message
    | {{ error }} {{ success }} {{ time }}

.container-fluid
    form.form-inline(role="form" ng-submit="addTask()")
        fieldset
            legend Add A New Task
            .row.col-xs-12
                .form-group.col-xs-12.col-sm-5.col-md-3
                    //label(for="title") Task Name:
                    input.form-control.inputs(type="text" required="true" ng-model="title" placeholder="Task Name")

                .form-group.col-xs-12.col-sm-5.col-md-3
                    //label(for="desc") Description:
                    textarea#desc.form-control(ng-model="desc" placeholder="Description")

                .form-group.col-xs-12.col-sm-5.col-md-2
                    //label(for="freq_slct") Frequency:
                    //br
                    select#freq_slct.form-control(ng-init="freq = freqOptions[0]" ng-model="freq" ng-options="freq.text for freq in freqOptions track by freq.value" required="true")

                .form-group.col-xs-12.col-sm-5.col-md-2
                    //label(for="reps_slct") Repetitions:
                    //br
                    select#reps_slct.form-control(ng-init="reps = repOptions[0]" ng-model="reps" ng-options="rep.text for rep in repOptions track by rep.value" required="true")
            .row.col-xs-12

                .form-group.col-xs-12.col-sm-5.col-md-2
                    label(for="read_only")
                        input#read_only.form-control(type="checkbox" ng-model="read_only")
                        | &nbsp&nbsp Read Only

                .form-group.col-xs-12.col-sm-5.col-md-3
                    //label(for="start") Start Date:
                    //br
                    input#start.form-control.inputs(type="text" ng-model="start" placeholder="Start Date (MM/DD/YYYY)")

                .form-group.col-xs-12.col-sm-5.col-md-3
                    //label(for="duration") Duration:
                    //br
                    input#duration.form-control.inputs(type="text" ng-model="duration" placeholder="Duration")

                .form-group.col-xs-6.col-sm-5.col-md-2
                    button.form-control Save

table
    thead
        tr
            th.center.header(colspan="12") {{ header }}
        tr
            th.center Title
            th.center Description
            th.center Frequency
            th.center Created
            th.center Updated
            th.center Started
            th.center Repetitions
            th.center Duration
            th.center Ended
            th.center Read Only
            th.center Tags
            th.center End
         //primarily for no tasks created
        tr.task(ng-show="status !== false")
            td.center(colspan="12") {{ status }}
        tr.task(ng-repeat="task in tasks" data-id="{{ task._id }}")
            td.center {{ task.title }}
            td.center {{ task.desc }}
            td.center {{ task.frequency }}
            td.center(title="{{ task.fCreate }}") {{ task.pCreate }}
            td.center(title="{{ task.fUpdate }}") {{ task.pUpdate }}
            td.center(title="{{ task.fStart }}") {{ task.pStart }}
            td.center {{ task.repetitions }}
            td.center {{ task.duration }}
            td.center(title="{{ task.fEnd }}") {{ task.pEnd ? task.pEnd : "-" }}
            td.center
                input(type="checkbox" ng-model="task.read_only" ng-checked="task.read_only" ng-change="updateReadOnly($index, task._id, task.read_only, task.title)")
            td.center {{ task.tags }}
            td.center
                button(ng-click="endTask($index, task._id, task.title)" ng-if="!task.pEnd && !task.read_only") X
                span(ng-if="task.pEnd") -
                span(ng-if="task.read_only && !task.pEnd") RO